@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.merienda{
    font-family: 'Merienda', cursive;
}


::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 20px;
    opacity: 60;
}

